<%- include("template/cabecera" , {tituloWeb: "Inicio" }) %>
    <div class="container">
    <h2>
        <%= titulo %>
    </h2>
    <p>
        <%= contenido %>
    </p>
    </div>

    <%- include("template/footer") %>