<%- include("template/cabecera",{tituloWeb:'Registro de usuarios'})%>
<div class="container">
    <h1>Iniciar Sesión en VideoGames</h1>
    <% if (error) { %>
        <span class="error"><%= error %></span>
        <% } %>   
        <!-- se hace con get o con post??? -->
        <form id="inicioSesion" action="/game/login" method="GET">
            <input type="text" class="form-control my-2" name="login" id="login">
            <input type="password" class="form-control my-2" name="password" id="password">

            <button class="btn btn-warning btn-sm" type="submit">
                Iniciar sesión
            </button>
        </form>
 
</div>
<%- include("template/footer") %> 